# Python
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.coverage
htmlcov
.hypothesis
mutants
.mutmut-cache

# IDEs & Editors
.idea

# Frameworks & Libraries
dist
poetry.lock

# Project Specific
TODO.md
